@tailwind base;
@tailwind components;
@tailwind utilities;

/*
.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}
*/
.btn {
  background: linear-gradient(
    92.23deg,
    #9796f0 21.43%,
    #fbc7d4 
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #fbc7d4 21.43%,
    #9796f0
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #fbc7d4 21.43%,
    #9796f0
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  /*原本h2:32px h3:26px*/
  .h2 {
    @apply font-primary text-[50px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[30px] mb-6 leading-[46px];
  }
  .btn:hover {
    @apply shadow-lg text-purple-950;
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#9796f0] to-[#fbc7d4] font-bold font-primary hover:from-[#fbc7d4] hover:to-[#9796f0];
  }
  .text-carat-blue {
    @apply text-[#9796f0];
  }
  .text-carat-pink {
    @apply text-[#fbc7d4];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
