@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #E1C9B9,
    #E1C9B9
  );
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #e9a182,
    #e9a182
  );
}

.gradient,
.active {
  color: azure;
}
.active {
  color: #000000;
  padding: 1rem;
  border-radius: 100%;
}

/* The @layer directive helps you control declaration order by automatically relocating your styles to the corresponding @tailwind directive, also enables features like modifiers and tree-shaking for your own custom CSS. */

@layer base {
  
  body {
    --font: font-secondary;
    --font-size: 16px;
    --line-height: 1.5;
    --text-color: #000000;

    font-family: var(--font);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--text-color);
  }
  /*原本h2:32px h3:26px*/
  .h2 {
    @apply font-primary text-[50px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[30px] mb-6 leading-[46px];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }


  /* Button */
  .btn:hover {
    @apply  text-purple-950;
  }
  .btn {
    @apply rounded-full font-primary text-black font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }


  /* Text */
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#4f0618] to-[#fbc7d4] font-bold font-primary hover:from-[#fbc7d4] hover:to-[#40221c];
  }
  .text-light-yellow{
    @apply text-[#f2e7e5];
  }
  .text-section-title {
    @apply text-[#c6653a] h2;
  }


  /* Header */
  .desktopMenu{
    @apply flex text-white items-stretch space-x-8;
  }
  .desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
  }
  .desktopMenuListItem:hover{
    color: #E1C9B9;
    border-bottom: 3px solid #E1C9B9;
  }
  .custom-select {
    min-width: 350px;
  }
  select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    color: #000;
    background-color: #fff;
    font-size: 1.15rem;
    width: 60px;
    padding: 10px ;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    cursor: pointer;
  }
.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}


  /* Member */
  .memberBlock{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
   
    justify-content: center;
  }
  .memberBlockItem{
    background-color: #E1C9B9;
    margin: 1rem;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ffffff;
    height: 300px;
    width: 250px;
    
  }
  .memberName{
    @apply text-[24px] tracking-wider font-semibold font-secondary leading-tight mb-6
  }
  .memberDescription{
    @apply text-[18px] font-secondary leading-tight tracking-wider mb-3
  }
  .memberContactInfo{
    @apply text-[18px] font-secondary leading-tight tracking-wider
  }
    
}

